body{
    background-color: gray;  
   }
   .practical{
       margin-top: 100px;
       justify-content: center;
       align-items: center;
       background: white;
       border: black solid 5px;
       width: 900px;
       height: 300px;
       padding-top: 80px;
       border-radius: 50px;
       margin-top: 200px;
   }
   p {
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
margin-top: 5px;
height: 300px;
color: black;
font-size: 30px;
}
ion-icon {
font-size: 64px;
margin-top: 0px;
}